devices:
  samplerate: 48000
  chunksize: 1024
  queuelimit: 2

  capture:
    type: Alsa
    device: "hw:CARD=UAC2Gadget,DEV=0"
    #device: "plug:uac2_softvol"
    channels: 2
    format: S32LE
    link_volume_control: "PCM Capture Volume"
    link_mute_control: "PCM Capture Switch"

  playback:
    type: Alsa
    device: "convert4"
    channels: 4
    format: S16LE

mixers:
  mirror_2_to_4:
    channels:
      in: 2
      out: 4
    mapping:
      # out0 = in0
      - dest: 0
        sources:
          - channel: 0
            gain: 0.0
      # out1 = in1
      - dest: 1
        sources:
          - channel: 1
            gain: 0.0
      # out2 = in0
      - dest: 2
        sources:
          - channel: 0
            gain: 0.0
      # out3 = in1
      - dest: 3
        sources:
          - channel: 1
            gain: 0.0

pipeline:
  - type: Mixer
    name: mirror_2_to_4

